<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ocean Storm</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="./../assets/Report/Report.html">Report</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
<!-- HTML5 FEATURE AUDIO-->
<audio id="shipSunk">
    <source src="./../assets/shipHit.wav" type="audio/wav">
    Your browser does not support the audio element.
  </audio>
<div class="container">
  <div class="main-container row">

    <div class="col-md-2">

      <div class="form-group">
        <label for="usr">Name</label>
        <input type="text" class="form-control" value="Player" (change)="playerNameChange($event)">
      </div>

      <div *ngIf="networkService.connectedTo != null" class="form-group">
        <label for="dd">Connected to</label>
        <span>{{ networkService.connectedTo.name }}
          <small>{{ networkService.connectedTo.peerId}}</small>
        </span>
        <button type="button" title="Disconnect from player..." class="btn btn-danger btn-sm"
          (click)="endGameManually()">
          <span class="glyphicon glyphicon-remove-circle"></span> Disconnect
        </button>
      </div>

      <alert *ngIf="(networkService.players | async | playerPipe: networkService.peerId)?.length == 0 && networkService.connectedTo == null"
        type="info">
        <strong>Sorry!</strong> No other players currently online ☹
      </alert>
      <table *ngIf="networkService.connectedTo == null && (networkService.players | async | playerPipe: networkService.peerId)?.length >= 1"
        class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Players</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of networkService.players | async | playerPipe: networkService.peerId">
            <td>{{ player.name }}
              <small>{{ player.peerId }}</small>
            </td>
            <td>
              <button *ngIf="player.peerId != networkService.peerId" type="button" draggable="true"
                title="Start game with this player..." class="btn btn-success btn-xs"
                (click)="playWith(player)">
                <span class="glyphicon glyphicon-user"></span>
              </button>
              </td>
              <td>
                <span class="glyphicon glyphicon-arrow-right"></span>
              </td>

              <td>
                <div id="target" ondrop="drop(event)" ondragover="allowDrop(event)">
                  <button *ngIf="player.peerId != networkService.peerId"  type="button" clickable="false"
                title="Start game with this player..." style="border: 2px dotted green;"
                class="btn btn-default btn-sm btn-block">
                Drop Chosen Enemy Here
              </button></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div [hidden]="hideGameFields">
      <div class="col-md-5">
        <h2>My field</h2>

        <canvas id="playerCanvas" width="400" height="400" style="border:1px solid #c3c3c3;">
          Your browser does not support the canvas element.
        </canvas>
        <div [hidden]="setupGameFieldFinished">
          <button type="button"
          class="btn btn-primary" (click)="finishedSetup()">
          <span class="glyphicon glyphicon-flash"></span> GO!
        </button>
        </div>
      </div>

      <div class="col-md-5">
        <h2>Enemy field</h2>

        <canvas id="opponentCanvas" width="400" height="400" style="border:1px solid #c3c3c3;">
          Your browser does not support the canvas element.
        </canvas>
      </div>
    </div>
    <div [hidden]="!hideGameFields">
      <div class="col-md-5">
        <h2>{{placeholder}}</h2>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-12">
      <alert type="success">
        <strong>Status</strong> {{state}}
      </alert>
    </div>


  </div>

</div>
