<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ocean Storm</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">Home</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

<div class="container">

  <div class="main-container row">

    <div class="col-md-2">

      <div class="form-group">
        <label for="usr">Name</label>
        <input type="text" class="form-control" value="Player" (change)="playerNameChange($event)">
      </div>

      <div *ngIf="networkService.connectedTo != null" class="form-group">
        <label for="dd">Connected to</label>
        <span>{{ networkService.connectedTo.name }}
          <small>{{ networkService.connectedTo.peerId}}</small>
        </span>
        <button type="button" title="Disconnect from player..." class="btn btn-danger btn-sm"
          (click)="disconnect()">
          <span class="glyphicon glyphicon-remove-circle"></span> Disconnect
        </button>
      </div>

      <alert *ngIf="(networkService.players | async | playerPipe: networkService.peerId)?.length == 0 && networkService.connectedTo == null"
        type="info">
        <strong>Sorry!</strong> No other players currently online ☹
      </alert>

      <table *ngIf="networkService.connectedTo == null && (networkService.players | async | playerPipe: networkService.peerId)?.length >= 1"
        class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Players</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of networkService.players | async | playerPipe: networkService.peerId">
            <td>{{ player.name }}
              <small>{{ player.peerId }}</small>
            </td>
            <td>
              <button *ngIf="player.peerId != networkService.peerId" type="button"
                title="Start game with this player..." class="btn btn-success btn-xs"
                (click)="playWith(player)">
                <span class="glyphicon glyphicon-expand"></span> Play
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-5">
      <h2>My field</h2>

      <canvas id="playerCanvas" width="400" height="400" style="border:1px solid #c3c3c3;">
        Your browser does not support the canvas element.
      </canvas>

      <button *ngIf="networkService.connectedTo != null" type="button"
        class="btn btn-primary" (click)="sendSomething()">
        <span class="glyphicon glyphicon-flash"></span> Send something...
      </button>
    </div>

    <div class="col-md-5">
      <h2>Enemy field</h2>

      <canvas id="opponentCanvas" width="400" height="400" style="border:1px solid #c3c3c3;">
        Your browser does not support the canvas element.
      </canvas>
    </div>

  </div>

  <div class="row">

    <div class="col-md-12">
      <alert type="success">
        <strong>Status</strong> Give player hints.
      </alert>
    </div>


  </div>

</div>